# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
android/.gradle/
android/app/build/
ios/Pods/
ios/Runner.xcworkspace/
*.iml

# IDE related
.idea/
.vscode/
*.swp

# Environment files
.env
